<div data-ng-include="'partials/navbar'"></div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/project/{{file.projectId}}">{{project.Title}}</a></li>
            <li class="active">{{file.filename}}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>View</h5>
        <iframe class="iframe" width="100%" height="600px" src="http://docs.google.com/gview?url=https://dl.dropboxusercontent.com/u/23432794/Clarizen-Analyst-Review-October-2011.pdf&embedded=true" frameborder="0"></iframe>
    </div>

    <div class="col-md-6">
        News
        <i class="fa fa-comment pull-right" ng-click="newsEditorEnabled=!newsEditorEnabled"></i>
        <hr>
        <form role="form" ng-show="newsEditorEnabled">
            <div class="form-group">
                <label for="newsItem"></label>
                <textarea class="form-control" id="newsItem" data-ng-model="news.item"  rows="3"></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" data-ng-click="AddNewsItem(news)">Post</button>
                <button type="reset" class="btn" ng-click="newsEditorEnabled=!newsEditorEnabled">Cancel</button>
                <p></p>
            </div>
        </form>
        <!--Use Directive to show all news Items-->
        <div ogc-news-item newsitems="file.news"></div>
    </div>
</div>
