<div ng-include="'partials/navbar'"></div>

<div data-ng-include="'partials/alerts'"></div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Projects
                <span class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> Mine </button>
                    <button type="button" class="btn btn-xs"><i class="fa fa-user"></i> All </button>
                </span>
            </div>
            <div class="panel-body">
                <span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">News</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tasks
                <span class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> Mine </button>
                    <button type="button" class="btn btn-xs"><i class="fa fa-user"></i> All </button>
                </span>
            </div>
            <div class="panel-body">
                <span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Approvals
                <span class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> Mine </button>
                    <button type="button" class="btn btn-xs"><i class="fa fa-user"></i> All </button>
                </span>
            </div>

            <div class="panel-body">
            </div>
        </div>
    </div>
</div>


<!--<div class="footer">-->
<!--<p>by dib</p>-->
<!--</div>-->
