<div data-ng-include="'partials/navbar'"></div>

<div class="col-md-12" data-ng-init="focusInput=true">
    <!--<button class="btn" >show form and focus input</button>-->
    <table class="table">
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Type</th>
            <th style="width: 30%">Required</th>

            <th style="width: 15%">
                <div class="pull-right">
                    Action
                </div>
            </th>
        </tr>
        <!--Input new fields-->
        <tr>
            <td>
                <label class="sr-only" for="newfieldname" >New Field</label>
                <input type="text" required data-ng-model="newField.name" class="form-control pull-left"  id="newfieldname" >
            </td>
            <td>
                <label class="sr-only" for="fieldType" >Select Type</label>
                <select class="form-control"  id="fieldType" ng-model="newField.fieldType" autofocus>
                    <option data-ng-repeat="fieldType in fieldTypes">{{fieldType.name}}</option>
                </select>
            </td>
            <td>
                <label class="sr-only" for="fieldRequired" >Required</label>
                <select required class="form-control" id="fieldRequired" data-ng-model="newfield.req">
                    <option selected>n</option>
                    <option>y</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-primary pull-right" data-ng-click="addField(newfield);focusInput=true"><i class="fa fa-plus-square-o"></i> Add</button>
            </td>
        </tr>
        <tr data-ng-repeat="column in object.fields" data-ng-model="object.fields">
            <td><a data-ng-click="openFieldModal($index)">{{column.name}}</a></td>
            <td>{{column.type}}</td>
            <td class="" data-ng-show="column.req == 'y'">{{column.req}}</td>
            <td data-ng-show="column.req == 'n'"></td>
            <td><button type="button"  class="btn pull-right" data-ng-click="removeField(column)"><i class="fa fa-trash-o"></i> Delete</button></td>
        </tr>
    </table>
</div>

<div class="footer">
    <p>{{object.fields.length}} Fields Defined </p>
</div>