<div data-ng-include="'partials/navbar'"></div>
<!-- Action Buttons -->


<div class="row">
    <div class="col-md-4">
        <h4>Profile</h4>
        <div class="form-group">
            <span data-ng-model="myModelObj"></span>
            <span class="btn btn-success fileinput-button">
                <i class="fa fa-user"></i>
                    <input type="file" ng-file-select="onFileSelect($files)" >
                <span> Add Picture</span>
            </span>
        </div>
    </div>


<div class="col-md-8">
    <h4>To Do</h4>
</div>
</div>


<div class="footer">
    <p class="pull-right">7 Tasks </p>
</div>