<div data-ng-include="'partials/navbar'"></div>
<!-- Action Buttons -->
<div data-ng-include="'partials/alerts'"></div>

<div class="row">
    <div class="col-md-3">
        <accordion>
            <accordion-group heading="Team" is-open="false">
            </accordion-group>
            <accordion-group heading="Tasks and Milestones {{selectedProject.tasks.length}}" is-open="false">
                <ul class="list-unstyled">
                    <li ng-repeat="task in selectedProject.tasks | orderBy:'date':false">
                        <label class="checkbox">
                            <input type="checkbox" data-ng-model="task.selected">{{ task.name }}
                        </label>
                    </li>
                </ul>
                <label>First Task Complete by</label>
                <!--<input type="text" class="form-control" ng-switch-when="User" data-ng-model="formItem.content">-->

                <input type="text" class="form-control" placeholder="Start" datepicker-append-to-body="true"
                       datepicker-popup="dd-MM-yy" show-weeks="0" datepicker-options="dateOptions"
                       data-ng-model="copyParms.startDate">
                <label>Finish Project by</label>
                <input type="text" class="form-control" placeholder="End" datepicker-append-to-body="true"
                       datepicker-popup="dd-MM-yy" show-weeks="0" datepicker-options="dateOptions"
                       data-ng-model="copyParms.endDate">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="copyParms.useWeekends" checked>Schedule on Weekends
                </label>
            </accordion-group>
            <accordion-group heading="Files  {{selectedProject.files.length}}" is-open="false">
                <ul class="list-unstyled">
                    <li ng-repeat="file in selectedProject.files | orderBy:'date':false">
                        <label class="checkbox">
                            <input type="checkbox" data-ng-model="file.selected">{{file.name}}
                        </label>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
        <div data-ng-show="projectSelected" class="text-right">
            <br>
            <button type="button" class="btn btn-primary" data-ng-click="copyProject()"><i class="fa fa-files-o"></i>
                Copy
            </button>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <label class="checkbox" data-ng-show="viewSettings.showAllFilterButton">
                    <input type="checkbox" data-ng-model="showAll" data-ng-click="showAll()">Show all {{project.Type}}s
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" data-ng-model="search.filter" class="form-control" placeholder="Filter ...">
            </div>
        </div>
        <table ng-table="tableParams" class="table">
            <thead>
            <tr>
                <th data-ng-repeat="column in columnCollection">
                    <div class="text-left">
                        {{column.name}}
                    </div>
                </th>
            </tr>
            </thead>
            <!--don't need to order by score as they come at the top anyway-->
            <tr ng-repeat="project in searchResults  | filter:search.filter">
                <td ng-repeat="column in columnCollection" sortable="column.name">
                    <span data-ng-show="$index ==0"><a data-ng-click="getProjectSummary(project)">{{project[column.name]}}</a></span>
                    <span data-ng-show="$index !=0">
                        <span data-ng-switch on="column.type">
                            <span data-ng-switch-when="Date" am-time-ago="project[column.name]"></span>
                            <span data-ng-switch-when="Calculated">
                                <span ogc-calculated calculation="column.calculated" project="project"></span>
                            </span>
                            <span data-ng-switch-default>{{project[column.name]}}</span>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
