<div data-ng-include="'partials/navbar'"></div>
<!-- Action Buttons -->
<div class="row">
    <div class="col-md-12">
        <!--<div class="dropdown">-->
            <!--<button type="button" class="btn dropdown-toggle btn-default"><i class="fa fa-plus"></i> New</button>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li ng-repeat="type in projectTypes">-->
                    <!--<a ng-click="openCreateProjectModal(type)">{{type.name}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="dropdown  pull-right">
            <button type="button" class="btn btn-link dropdown-toggle"><i class="fa fa-files-o"></i> New</button>
            <ul class="dropdown-menu">
                <li data-ng-repeat="type in projectTypes">
                    <a data-ng-click="openCreateProjectModal(type)">{{type.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
        <ul class="list-group">
                    <li data-ng-repeat="type in projectTypes" class="list-group-item">
                        <a data-ng-href="#/object/{{object._id}}/edit">{{type.name}}</a>
                    </li>
        </ul>
        </div>
        <div class="col-md-10">
            This will be the project list data
        </div>
    </div>
</div>

<div class="footer">
    <p class="pull-right">{{projects.length}} Projects </p>
</div>