<div data-ng-include="'partials/navbar'"></div>

<div class="row">
    <div class="col-md-6">
        <h5>Image</h5>
        <iframe class="iframe" width="100%" height="600px" src="http://docs.google.com/gview?url=https://dl.dropboxusercontent.com/u/23432794/LEAN%20THINKING.pptx&embedded=true" frameborder="0"></iframe>
    </div>

    <div class="col-md-6">
        <h5>image</h5>
        <img src="http://docs.google.com/gview?url=https://dl.dropboxusercontent.com/u/23432794/LEAN%20THINKING.pptx&embedded=true&a=bi&pagenumber=1" alt="page" class="img-rounded">
    </div>
</div>
