<div data-ng-include="'partials/navbar'"></div>

<div class="row">
    <div class="col-md-4">

        <form>
            <label class="control-label" >Asset</label>
            <select class="form-control"
                    data-ng-model="scratch.selectedItem"
                    ng-options="option.name for option in materialTypes"
                    data-ng-click="getFieldTypes(scratch.selectedItem)"/>
            <span data-ng-show="showTypeField">
                <label class="control-label" >Type</label>
                <select class="form-control"
                        data-ng-model="scratch.selectedType"
                        ng-options="option for option in TypeField.values"
                        />
            </span>
        </form>
    </div>
</div>

