<div>
    <div class="row">
        <ul class="list-unstyled">
            <li ng-repeat="task in tasks | orderBy:'date':false track by $index ">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <!--<label for="taskClose" visible="false"></label>-->
                            <input type="checkbox" id="taskClose" data-ng-model="task.status" data-ng-true-value="Closed" data-ng-click="closeTask(task);">
                        </div>
                        <div class="col-md-9">
                            <span class="task{{task.status}}">{{task.name}} {{task.status}}</span>
                        </div>
                        <div class="col-md-2">
                            <span class="taskStatus">{{task.who}}</span>
                            <h5><small>{{task.date | date:'dd MMM'}}</small></h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>