<div>
    <div class="row">
        <ul class="list-unstyled">
            <li ng-repeat="file in files | orderBy:'cd':true track by $index ">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <span><i class="fa fa-file" ></i></span>
                        </div>
                        <div class="col-md-9">
                            <span>{{file.name}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>{{file.who}}</span>
                            <h5><small>{{file.cd | date:'dd MMM'}}</small></h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>