<div>
    <div class="row">
        <ul class="list-unstyled">
            <li ng-repeat="news in newsItems track by $index | orderBy:'cd':true">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <span>{{news.item}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>Dave</span>
                        </div>
                    </div>
                    <h6><small><span am-time-ago="newsItem.cd"></span></small></h6>
                </div>
            </li>
        </ul>
    </div>
</div>